body {
	font-family: "Source Sans Pro";
	font-weight: 300;
	background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

.header-container {
	background: #fff;
	padding: 1em 0;
	margin-bottom: 1em;
	box-shadow: 0 1px 3px #aaa;
	overflow: hidden;
}

.header {
	line-height: .8;
}

.img-radio {
	cursor:pointer;
}

.hgroup { padding: 2em 0; }

#loading-gif {
	display: none;
}

.form-container h2 {
	color: #3a87ad;
	text-align: center;
}

@media (max-width: 767px) {	
	.header-container {text-align: center;}
	.header-img { 
		max-width: 500px;
		margin: 0 auto;
	}
}

@media (min-width: 768px) { 
	.hgroup { padding: 2.75em 0; }
	.header { text-shadow: 0 2px 1px #fff; }
	.header-container {
		background: #fff url(../img/header-bg.jpg) no-repeat top center;
		background-size: 100% auto;
	}
	.form-container {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 3px 11px #777;
		padding: .5em 1em;
		position: relative;
		top: -4em;
	}
}

@media (min-width: 980px) { .hgroup {padding: 6em 0;} }
@media (min-width: 1200px) { .hgroup {padding: 8em 0;} }