body {
	font-family: "Source Sans Pro";
	font-weight: 300;
	background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

.header-container {
	background: #fff url(../img/az_subtle.png);
	background-size: auto 100%;
	padding: 1em 0;
	margin-bottom: 1em;
	box-shadow: 0 1px 3px #aaa;
	overflow: hidden;
	text-align: center;
}

.header-container .label {
	text-transform: uppercase;
	box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	padding: .5em;
	font-size: 1.5em;
}

.header {
	line-height: .8;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,0.8); 
}

.header small {
	color: #3a87ad;
	font-family: Georgia, serif;
	font-size: 0.6em;
	text-shadow: none;
}

.lead {
	color: #3a87ad;
	font-family: Georgia, serif;
	line-height: 1.4;
}

.img-radio {
	cursor:pointer;
}

.hgroup { padding: 2em 0; }

#loading-gif {
	display: none;
}

.form-container h2 {
	color: #3a87ad;
	text-align: center;
}

.help-block {
	font-style: italic;
	margin-top: -8px;
}

.footer-container {
	color: #fff;
	background: #333;
	padding: 1em 0 .5em 0;
}

@media (max-width: 767px) {	
}

@media (min-width: 768px) { 
	.hgroup { padding: 2.75em 0; }

	.header-container {
		background: #fff url(../img/header-bg-3.jpg) no-repeat top center fixed;
		text-align: left;
		background-size: 100% auto;
	}

	.form-container {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 3px 11px #777;
		padding: .5em 1em;
		position: relative;
		top: -2em;
	}

}

@media (min-width: 980px) { .hgroup {padding: 6em 0;} }
@media (min-width: 1200px) {  }