@import url(template.css);

/*******************************/
/** Site specific styles here **/
/*******************************/

h1, h2, h3, h4, h5, h6, a, .lead-alt, .text-info {color:#386E99;}
span.step, .label-info {background-color: #386E99;}
footer a:hover {color: lightblue;}
.animal-holder.highlight, legend {border-color: #386E99;}

.form-step1 .form-horizontal .control-label {
	min-width: 51%;
}

.hgroup h1 {
	font-size: 2.2em;
	font-weight: 700;
	line-height: 1.25;
}

#erreur-animal {display: none;}

.animal-picker {
	font-size: .9em;
}

.animal-picker:before {
	content: "\25BC";
	color: #386E99;
	position: relative;
	left: -10px;
	bottom: -5px;
}

.animal-picker:after {
	content: "\25BC";
	color: #386E99;
	position: relative;
	right: -10px;
	bottom: -5px;
}

.animal-holder {
	cursor:pointer;
	text-indent: 55px;
	padding: 1em;
	border: 1px solid #eee;
	border-radius: 5px;
	overflow: hidden;
	background-size: auto 65%;
	background-position: 5px 50%;
	background-repeat: no-repeat;
	line-height: .5;
}

.animal-holder.chien {
	background-image:url(../img/dog.png);
	text-indent: 0;
	text-align: center;
	background-position: 15% 50%;
}
.animal-holder.chat { background-image:url(../img/cat.png); text-indent: 65px;}
.animal-holder.nac { background-image:url(../img/bunny.png); text-indent: 40px;}

#share {
	top: -17px;
	right: -65px;
}

@media (max-width: 767px) {
	.animal-picker:before, .animal-picker:after {content:"";}

	.animal-holder, .animal-holder.chien, .animal-holder.chat, .animal-holder.nac  {
		background-position: top center !important;
		text-indent: 0;
	}

	.animal-holder h4 {
		font-size: 4em;
		line-height: 2;
		margin: 0;
		text-align: center;
		position: relative;
		top: 38px;
	}

	.animal-holder p {display: none;}
}

@media (min-width: 768px) {
	.header-container {background-size: auto 100%;}
}
